@mixin clearfix() {
  &:after {
    content: "";
    display: table;

    clear: both;
  }
}

@mixin title() {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

@mixin text() {
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

@mixin caption-img() {
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

@mixin img-author() {
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  font-style: normal;
}

@mixin reason-item-img() {
  content: "";
  position: absolute;
  left: -68px;
  top: -28px;

  display: block;
  width: 77px;
  height: 74px;
  transform: scale(0.5);

  background-repeat: no-repeat;
  background-position: center;
}

@mixin btn-blue-hover() {
  background-color: #669ec0;
}

@mixin btn-blue-active() {
  color: rgba(255, 255, 255, 0.3);
  animation-name: btn-blick;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
}

@mixin btn-white-hover() {
  background-color: #ffffff;
  color: #81b3d2;
}

@mixin btn-white-active() {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.3);
}
