.btn {
  display: block;
  width: 280px;
  padding: 15px 0;

  text-align: center;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $bg-blue;
}
