.feedback-form {
  margin: 10px 0;
  padding: 0;

  border-top: 1px solid #e5e5e5;
}

.feedback-form__item {
  padding: 0;
  padding-left: 6%;
  padding-right: 6%;
  margin: 0;

  border: none;
  border-bottom: 1px solid #e5e5e5;

  &--message {
    text-align: center;

    border: none;
  }
}

.feedback-form__title {
  padding-top: 15px;
  padding-bottom: 25px;

  @include title();
    text-align: center;
}

.feedback-form__label {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 20px;
  min-width: 225px;

  &--phone,
  &--email {
    flex-wrap: wrap;
  }

  &--radio {
    margin: 0 auto;
    margin-bottom: 45px;
    width: 280px;
  }

  &--checkbox {
    margin: 0 auto;
    margin-bottom: 55px;
    width: 280px;
  }
}

.feedback-form__text {
  @include text();
  line-height: 26px;

    &--radio,
    &--checkbox {
      position: relative;

      color: #000000;
      font-weight: 700;
      margin-left: 31%;

      &::before {
        content: "";
        position: absolute;
        left: -75px;
        top: -15px;
        width: 56px;
        height: 56px;

        background-color: #f2f2f2;

        cursor: pointer;
      }
    }

    &--radio {
      &::before {
        border-radius: 50%;
      }
    }

  &:hover::before {
    background-color: #e5e5e5;
  }

  &:active::before {
    background-color: #d5d5d5;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.feedback-form__input,
.feedback-form__textarea {
  padding: 16px 0;
  padding-left: 7%;
  margin-left: 6%;
  width: 100%;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #f2f2f2;
  border: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 4px #e5e5e5;
    background: none;
  }
}

.feedback-form__input {

  &--phone,
  &--email {
    margin-left: 0;
    padding-right: 23%;

    box-sizing: border-box;
  }
}

.feedback-form__input-wrapper {
  position: relative;

  width: 100%;
  height: 58px;
  margin-top: 10px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;

    padding: 0 25px;
    height: 58px;
  }

  &--phone {
    &::after {
      background: #e6e6e6 url("../img/icon-phone.svg") no-repeat center center;
    }
  }

  &--email {
      &::after {
        background: #e6e6e6 url("../img/icon-mail.svg") no-repeat center center;
      }
    }
}


.feedback-form__radio,
.feedback-form__checkbox {
  display: none;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
  }
}

.feedback-form__radio:checked + .feedback-form__text--radio::after {
  content: "";
  position: absolute;
  left: -57px;
  top: 2px;
  width: 22px;
  height: 22px;

  background-color: #333333;
  border-radius: 50%;
}

.feedback-form__checkbox:checked + .feedback-form__text--checkbox::after {
 content: "";
 position: absolute;
 left: -57px;
 top: 2px;
 width: 22px;
 height: 22px;

 background: url("../img/icon-tick.svg") no-repeat center center;
 border-radius: 50%;
}

.feedback-form__textarea {
  margin: 0;
  width: 100%;
  min-height: 160px;

  box-sizing: border-box;
  resize: none;
}

.feedback-form__btn {
  margin: 0 auto;
  margin-top: 20px;

  cursor: pointer;

  &:hover {
    @include btn-blue-hover();
  }

  &:active {
    @include btn-blue-active();
  }
}

@media (min-width: $tablet-width) {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    border-top: none;
  }

  .feedback-form__item {
    margin-bottom: 45px;

    border-bottom: none;

    &--full-name {
      order: 2;

      width: 45%;
      margin-left: 5%;
    }
    &--contacts {
      order: 3;

      width: 100%;
    }
    &--impression {
      order: 1;

      width: 50%;
    }
    &--visits {
      order: 4;

      width: 100%;
    }
    &--message {
      order: 5;

      width: 100%;
    }
  }

  .feedback-form__btn {
    order: 6;
  }

  .feedback-form__title {
    font-size: $title-size-mobile-screen;
    margin-bottom: 40px;

    &--hidden {
      display: none;
    }

    &--align--left {
      padding-bottom: 0;

      text-align: left;
    }

    &--fix-width {
      display: block;
      margin: 0 auto;
      width: 300px;
    }

    &--lines {
      position: relative;
      display: block;
      width: 100%;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 40%;

        display: inline-block;
        vertical-align: middle;
        width: 19%;
        height: 1px;

        background: $bg-color-titles-lines;
        box-sizing: border-box;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }

  .feedback-form__label {
    &--radio {
      margin-left: 0;
      margin-bottom: 20px;
      min-height: 58px;
    }

    &--checkbox {
      width: 225px;
      margin: 0 12%;
      margin-bottom: 52px;
    }
  }

  .feedback-form__text {
    &--radio {
      margin-left: 25%;
    }
  }

  .feedback-form__item--visits {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {

  .feedback-form__item {
    &--contacts {
      display: flex;
      flex-wrap: wrap;
      width: 960px;
    }
    &--visits {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .feedback-form__label {
    justify-content: space-between;

    &--phone {
      flex-wrap: wrap;
      width: 400px;

      margin-right: auto;
    }

    &--email {
      flex-wrap: wrap;
      width: 480px;

      margin-left: auto;
    }

    &--checkbox {
      margin: 0;
      width: 225px;
    }
  }

  .feedback-form__input-wrapper {
    width: 315px;
  }

  .feedback-form__text {
    &--hidden {
      display: none;
    }
  }

  .feedback-form__btn {
    margin: 0;
    margin-right: auto;
    width: 480px;
  }
}
