.intro {
  width: auto;
  padding: 0;
  padding-top: 89px;
  padding-bottom: 84px;
  margin: 0;

  text-align: center;

  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 100%, 50% 100%;
  background-size: 104%, cover;

  &--padding {
    padding: 0;
  }
}

.intro__img {
  width: 282px;
  height: 214px;

  &--size {
    margin-top: 53px;
    margin-bottom: 67px;
    width: 229px;
    height: 39px;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    padding-top: 77px;
    padding-bottom: 90px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 100%, 50% 0%;

    &--padding {
      padding-top: 40px;
      padding-bottom: 50px;

      background-position: 50% 100%, 50% 100%;
    }
  }

  .intro__img {
    width: 460px;
    height: 350px;

    &--size {
      width: 458px;
      height: 78px;
    }
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding-top: 76px;

    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-size: 104%, $desktop-width;

    &--padding {
      padding-top: 48px;
    }
  }
  .intro__img {
    &--size {
      width: 461px;
      height: 79px;
    }
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .intro {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) and (min-resolution: $retina-dpi),
(min-width: $tablet-width) and (min-resolution: $retina-dppx)  {
  .intro {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
    background-size: 105%, cover;
    background-position: 50% 100%, 50% 101%;
  }
}

@media (min-width: $desktop-width) and (min-resolution: $retina-dpi),
 (min-width: $desktop-width) and (min-resolution: $retina-dppx) {
  .intro {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
    background-position: 50% 100%, 50% 0%;
    background-size: 104%, $desktop-width;
  }
}
