.menu {
  position: relative;
}

.menu__list {
  padding: 0;
  margin: 0;
}

.menu__item {
  position: relative;

  list-style: none;
  text-align: center;

  background-color: $secondary-bg-color;
  box-shadow: inset 0 1px 0 #678fa8,
              inset 0 2px 0 #9ac2db;

  &:first-child {
    box-shadow: none;
  }
}

.menu__link {
  display: block;
  padding-top: 6px;
  padding-bottom: 8px;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;

  &--active {
    cursor: context-menu;
  }

  &:hover:not(.menu__link--active) {
    @include btn-blue-hover();
  }

  &:active:not(.menu__link--active) {
    @include btn-blue-active();
  }
}

.menu__wrapper {
  position: relative;

  padding: 12px 0;
  padding-left: 20px;
  height: 32px;

  text-align: right;

  box-shadow: 0 -4px 10px -4px rgba(0, 0, 0, 0.5);
}

.menu__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  margin: 0 auto;
}

.menu__burger {
  position: absolute;
  top: 16px;
  right: 30px;
}

.menu--closed .burger {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;

    display: block;
    width: 30px;
    height: 4px;

    background-color: #81b3d2;
    box-shadow: 0 -8px 0 #81b3d2,
                0 -16px 0 #81b3d2;
  }

  &:active::before {
    background-color: rgba(129, 179, 210, 1);
    box-shadow: 0 -8px 0 rgba(129, 179, 210, 1),
                0 -16px 0 rgba(129, 179, 210, 1);
  }

  &:focus {
    animation-name: menu-btn-close;
    animation-duration: 800ms;
    animation-timing-function: ease;
  }
}

.menu--opened .burger {
  top: -205px;
  height: 26px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 0px;

    display: block;
    width: 30px;
    height: 4px;

    background-color: white;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: rgba(255, 255, 255, 0.8);
  }

  &:focus {
    animation-name: menu-btn-open;
    animation-duration: 1s;
    animation-timing-function: ease;
  }
}

@media (max-width: $mobile-width-only) {
  .menu--closed {
    animation-name: menu-closed;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
  }

  .menu--closed .menu__list {
    display: none;
  }

  .menu--opened {
    display: block;
    animation-name: menu-opened;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
  }

  .menu--opened .burger {
    top: -200px;

    box-shadow: none;
    &::before {
      content: "";
      display: block;
      width: 23px;
      height: 4px;

      transform: rotate(45deg);
      background-color: #ffffff;
    }
    &::after {
      content: "";
      display: block;
      width: 23px;
      height: 4px;

      transform: rotate(-45deg);
      background-color: #ffffff;
    }
  }

  .menu--nojs .burger {
    display: none;
  }

  .menu--nojs .menu__list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .burger {
    display: none;
  }

  .menu__wrapper {
    height: 0;
    padding: 0;
  }

  .menu__list {
    display: flex;
    min-width: 100%;
  }

  .menu__item {
    box-sizing: border-box;
    box-shadow: none;

    &:nth-child(1) {
      margin: 0 8%;
    }
    &:nth-child(2) {
      margin-right: auto;
    }
    &:nth-child(3) {
      margin-left: auto;
    }
    &:nth-child(4) {
      margin-left: 8%;
      margin-right: 3%;
    }
  }

  .menu__link {
    padding: 15px 0;

    font-size: 14px;
    line-height: 26px;
    color: #000000;

    background-color: #ffffff;

    &:hover:not(.menu__link--active) {
      @include btn-white-hover();
    }

    &:active:not(.menu__link--active) {
      @include btn-white-active();
      animation-name: none;
    }

    &--active {
      color: #766357;
      &:hover {
        color: #604e43;
      }
      &:active {
        color: rgba(118, 99, 87, 0.3);
      }
    }
  }

  .menu__logo {
    top: -58px;
  }
}

@media (min-width: $desktop-width) {
  .menu__item {
    &:first-child {
      margin-left: 10%;
      margin-right: 15%;
    }
    &:nth-child(2) {
      margin-right: auto;
    }
    &:nth-child(3) {
      margin-left: auto;
    }
    &:last-child {
      margin-left: 15%;
      margin-right: 5%;
    }
  }
}
