.menu__list {
  padding: 0;
  margin: 0;
}

.menu__item {
  list-style: none;
  text-align: center;

  background-color: $bg-blue;
  border-bottom: 1px solid #678fa8;
  box-shadow: 0 1px 0 #9ac2db;
}

.menu__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
}

.menu__link--cursor {
  cursor: default;
}

.menu__burger {
  padding: 12px 20px 12px 0;
  text-align: right;
}

.menu__btn-burger {
  background: none;
  outline: none;
  border: none;

  cursor: pointer;
}
