.posts {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .posts {
    display: flex;
    flex-wrap: wrap;
    min-width: 500px;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .posts {
    width: 740px;
    margin: 0 auto;
  }
}
