.post {
  padding-top: 23px;
  padding-bottom: 20px;
  padding-left: 6%;
  padding-right: 6%;

  text-align: center;
  border-top: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}

.post__img-wrapper {
  margin: 0;
}

.post__img {
  width: 100%;
  margin-bottom: 10px;
}

.post__caption {
  text-align: left;
}

.post__subtitle {
  display: inline-block;
  width: 100%;
  @include caption-img;
  margin: 0;
}

.post__author {
  display: inline-block;
  width: 100%;
  @include img-author;
}

.post__like {
  font-family: "PT Sant", "Arial", sans-serif;
  @include caption-img;
  text-decoration: none;
  color: #000000;

  &:hover .post__like-img {
    fill: #eeeeee;
  }
}

.post__like-img {
  margin-right: 10px;

  fill: #b2b2b2;
}
