.post {
  padding: 0 6%;
  padding-top: 23px;
  padding-bottom: 15px;

  text-align: center;
  border-top: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}

.post__img-wrapper {
  margin: 0;
  margin-bottom: 16px;
}

.post__img {
  width: 280px;
  width: 100%;
  height: 280px;
}

.post__img-full {
  display: block;
  font-size: 0;
  line-height: 0;
}

.post__caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  flex-basis: 320px;
}

.post__caption-wrapper {
  margin-bottom: 5px;
  text-align: left;
}

.post__subtitle {
  @include caption-img;
  margin: 0;
}

.post__author {
  @include img-author;
}

.post__like {
  font-family: "PT Sans", "Arial", sans-serif;
  text-decoration: none;
  color: #000000;
  @include caption-img;

  &:hover .post__like-img {
    fill: #eeeeee;
  }
}

.post__like-img {
  margin-right: 10px;

  fill: #b2b2b2;
}

@media (min-width: 450px) and (max-width: $mobile-width-only){
  .post__img {
    width: 400px;
  }

  .post__caption {
    display: block;
    margin: 0 auto;
  }

  .post__caption-wrapper {
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .post {
    padding: 0;
    width: 50%;

    border: none;

    &:first-child {
      width: 100%;
    }

    &:first-child .post__img {
      height: 399px;
    }

    &:last-child {
      border: none;
    }

    &:not(:first-of-type) .post__caption {
      padding-top: 13px;
      padding-bottom: 15px;
      padding-left: 7%;
      padding-right: 9%;
    }
  }

  .post__img {
    margin: 0;
    width: 324px;
    width: 100%;
    height: 267px;
  }

  .post__img-wrapper {
    margin: 0;
  }

  .post__caption {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 3%;

    background-color: #f2f2f2;
  }

  .post__like {
    margin-left: auto;
  }

  .post__caption-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .post {
    position: relative;

    width: 400px;
  }

  .post__caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 13px 2%;

    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.3);

    box-sizing: border-box;
  }

  .post__caption-wrapper {
    margin: 0;
  }

  .post__like {
    color: #ffffff;
  }
}
