.reason {
  text-align: center;

  background-color: #eeeeee;

  &--padding {
    padding: 28px 30px;

    box-shadow: 0 -1px 0 #d6d6d1;
  }
}

.reason__title {
  @include title();

  &--color {
    color: $color-white;
  }
}

.reason__text {
  @include text();

  &--color {
    color: $color-white;
  }
}

.reason__img-wrapper {
  height: 260px;
  margin: 0;
}

.reason__item {
  margin: 0;
  padding: $block-padding;

  text-align: center;

  box-shadow: 0 1px 0 #d6d6d1;

  &--bg {
    background: $bg-blue;
  }

  &--bg-triangle {
    background: $bg-blue url("../img/bg-triangle.svg") no-repeat;
    background-position: 50% 0%;
    background-size: contain;
  }
}
