.reason {
  text-align: center;

  &--bg-gray {
    padding: 10px 35px;

    box-shadow: 0 -1px 0 #d6d6d1;
    background-color: #eeeeee;
  }

  &--wrapper {
    padding-left: 20%;
  }
}

.reason__title {
  position: relative;

  @include title();

  &--color {
    color: $color-white;
  }

  &--houses::before {
    @include reason-item-img();
    background-image: url("../img/icon-house.svg");
  }

  &--souvenirs::before {
    @include reason-item-img();
    background-image: url("../img/icon-gift.svg");
  }

  &--foods::before {
    @include reason-item-img();
    background-image: url("../img/icon-burger.svg");
  }
}

.reason__text {
  @include text();

  &--color {
    color: $color-white;
  }
}

.reason__img-wrapper {
  height: 260px;
  margin: 0;
}

.reason__img {
  width: 100%;
}

.reason__item {
  margin: 0;
  padding: 28px 20px;

  text-align: left;

  box-shadow: 0 1px 0 #d6d6d1;

  &--bg {
    text-align: center;
    background: $bg-blue;
  }

  &--bg-triangle {
    padding-top: 50px;
    text-align: center;

    background: $bg-blue url("../img/bg-triangle.svg") no-repeat;
    background-position: 50% 0%;
    background-size: contain;
  }
}

.reason__recommendation {
  margin-top: 30px;
  padding-left: 20%;
  padding-right: 25px;

  text-align: left;
}

.reason__recommendation:last-child {
  padding-bottom: 20px;
}
