.search-form {
  padding: 10px 30px;

  text-align: center;
}

.search-form__title {
  @include title();
  font-size: 21px;
}

.search-form__text {
  @include text();
}

.search-form__btn {
  margin: 40px auto;
  
  font-weight: 700;

  &:hover {
    @include btn-blue-hover();
  }

  &:active {
    @include btn-blue-active();
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
