.search-form {
  margin: 0 auto;
  padding: 10px 5%;
  padding-bottom: 40px;
  min-width: 280px;
  max-width: 400px;

  text-align: center;
}

.search-form__title {
  @include title();
  font-size: 21px;
}

.search-form__text {
  @include text();
}

.search-form__btn {
  margin: 40px auto;
  margin-bottom: 0;

  font-weight: 700;

  &:hover {
    @include btn-blue-hover();
  }

  &:active {
    @include btn-blue-active();
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .search-form {
    width: 450px;
    padding-top: 45px;
    padding-bottom: 60px;
  }

  .search-form__title {
    font-size: $title-size-normal-screen;
  }
}

@media (min-width: $desktop-width) {
  .search-form {
    padding-top: 45px;
    padding-bottom: 70px;
  }
}
