.social-link {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 48px;

  text-align: center;
  font-size: 0;

  background-color: $bg-blue;

  &:hover {
    @include btn-blue-hover();
  }

  &:active {
    @include btn-blue-active();
  }
}

.social-link__img {
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translateX(-50%);

  fill: #ffffff;
}
