.video {
  padding-top: 30px;
  padding-bottom: 75px;

  text-align: center;
}

.video__title {
  margin-top: 0;
  padding: 0 9%;

  @include title();
}

.video__text {
  padding: 0 9%;

  @include text();
  line-height: 24px;
}

.video__wrapper {
  position: relative;

  margin-top: 30px;

  text-align: center;
}

.video__img {
  margin: 0;
  width: 100%;
}

.video__video-player {
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .video__title {
    margin-top: 55px;
    font-size: $font-size-at-big-screen;
  }

  .video__text {
    margin-bottom: 70px;
    padding: 0 130px;
  }
}
