.video-player {
  position: relative;
  width: 87%;
  height: 45px;

  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 65px solid #f1f1f1;
}

 .video-player__play-bar {
  padding-top: 22px;
  padding-bottom: 20px;

  cursor: pointer;
}

.video-player__time-line {
  position: relative;
  height: 3px;
  width: 84%;
  margin: 0 auto;

  font-size: 0;

  background-color: rgba(255, 255, 255, 0.2);

  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.video-player__toggle {
  position: absolute;
  top: -3px;
  left: 15%;

  width: 9px;
  height: 9px;

  font-size: 0;

  background-color: #ffffff;
  border-radius: 50%;

  &:hover {
    transform: scale(1.7);
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.video-player__btn {
  position: absolute;
  top: 68px;
  height: 23px;
  padding: 0;

  background: none;
  border: none;
  outline: none;

  cursor: pointer;

  &:hover .video-player__btn-img {
    fill: #333333;
  }

  &:active .video-player__btn-img {
    fill: #c1c1c1;
  }
}

.video-player__btn-img {
  fill: #5c6870;
}

.video-player__replay-btn {
  left: 8%;
}

.video-player__subtitles-btn {
  right: 72px;
}

.video-player__fullscreen-btn {
  right: 8%;
}

@media (min-width: $tablet-width) {
  .video-player {
    padding: 0;
    width: 100%;
    min-height: 92px;

    border: none;
  }

  .video-player__play-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    margin-top: 33px;
    padding: 0 5%;
    padding-right: 6%;
  }

  .video-player__btn {
    position: inherit;
  }

  .video-player__btn-img {
    fill: #ffffff;
  }

  .video-player__time-line {
    order: 2;
    width: 68%;
  }

  .video-player__toggle {
    left: 30%;
  }

  .video-player__replay-btn {
    order: 1;
    margin-right: 15px;
  }

  .video-player__subtitles-btn {
    order: 3;
    margin: 0 20px;
    margin-right: 32px;
  }

  .video-player__fullscreen-btn {
    order: 4;
  }
}

@media (min-width: $desktop-width) {
  .video {
    width: 800px;
    margin: 0 auto;
  }
}
