.video-player {
  position: relative;

  width: 87%;
  min-height: 45px;

  background-color: rgba(0, 0, 0, 0.6);

  &::after {
    content: "";

    position: absolute;
    top: 44px;
    left: 0;

    display: block;
    width: 100%;
    min-height: 66px;

    background-color: #f2f2f2;
  }
}


 .video-player__play-bar {
  padding-top: 22px;
  padding-bottom: 20px;

  cursor: pointer;
}

.video-player__time-line {
  position: relative;

  height: 3px;
  width: 84%;
  margin: 0 auto;

  font-size: 0;

  background-color: rgba(255, 255, 255, 0.2);

  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.video-player__toggle {
  position: absolute;
  top: -3px;
  left: 15%;

  width: 9px;
  height: 9px;

  font-size: 0;

  background-color: #ffffff;
  border-radius: 50%;

  &:hover {
    transform: scale(1.7);
    background-color: rgba(0, 0, 0, 1);
  }
}

.video-player__btn {
  position: absolute;
  z-index: 1;
  top: 68px;

  height: 23px;
  padding: 0;

  background: none;
  border: none;
  outline: none;

  cursor: pointer;

  &:hover .video-player__btn-img {
    fill: #333333;
  }

  &:active .video-player__btn-img {
    fill: #c1c1c1;
  }
}

.video-player__btn-img {
  fill: #5c6870;
}

.video-player__replay-btn {
  left: 8%;
}

.video-player__subtitles-btn {
  right: 20%;
}

.video-player__fullscreen-btn {
  right: 8%;
}

@media (min-width: $tablet-width) {
  .video-player {
    width: 100%;
    padding: 24px 0;

    &:after {
      display: none;
    }
  }

  .video-player__time-line {
    width: 60%;
    margin-right: 25%;
  }

  .video-player__btn {
    top: 36px;
  }

  .video-player__btn-img,
  .video-player__btn-img {
    fill: #ffffff;
  }

  .video-player__subtitles-btn {
    right: 13%;
  }

  .video-player__replay-btn {
    left: 5%;
  }

  .video-player__fullscreen-btn {
    right: 5%;
  }
}

@media (min-width: $desktop-width) {
  .video {
    width: 800px;
    margin: 0 auto;
  }
}
